<div class='home'>
  <div class='top-blank'></div>
  <div class='contents'>
    <h3>Time Matcher</h3>
    <h1>Shall we chat?</h1>
    <h5>Time Matcherは誰でも手軽に始めることができます。</h5>
    <div class='signup_link'>
      <%= link_to "Sign up now!", new_user_path %>
    </div>
  </div>
  <div class='bottom-blank'></div>
</div>