<div class='showpage'>
  <div class='profile-cell'>
    <%= image_tag(@user.display_image) %>
    <div class='non-avater'>
      <%= @user.gender %><br>
      <%= @user.name %><br>
      <%= @user.like_receiving.count %> Likes
    </div>
  </div>
</div>