<h1 id="form-title">Time Matcher</h1>
<%= render 'layouts/search', {link_to: footprint_path(current_user.id)} %>
<%= page_entries_info @users %>
<%= render 'layouts/list', {object: @users} %>
<%= paginate @users %>