@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* top */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: gray;
  #logo {
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
  }
  a {
    margin: 10px;
    color: white;
    &:hover {
      color: red;
    } 
  }
}

.body-content {
  margin: 10px;
  min-height: 300px;

  .homepage {
    background: image-url('free_sky.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 50px;
    .top-blank {
      height: 10vh;
    }
    .home-cell {
      height: 50vh;
      .signup_link {
        width: 150px;
        height: 30px;
        color: black;
        background-color: white;
        border: 5px solid white;
        border-radius:40px;
        text-align: center;
        overflow:hidden;
      }
    }
    .bottom-blank {
      height: 30vh;
    }
  }

  .listpage {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    .user-cell{
      justify-content: center;
      align-items: center;
      padding: 20px 15px;
      .avater {
        &:hover {
          opacity: 0.6;
        } 
      }
      .non-avater {
        text-align: center;
        .likebtn {
          width: 150px;
          background-color: pink;
          &:hover {
            opacity: 0.6;
          } 
        }
        .sent {
          margin:0 auto;
          width: 150px;
          height: 27px;
          background-color: gold;
        }
      }
    }
  }

  .showpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    .profile-cell {
      padding: 20px 15px;
      .non-avater {
        text-align: center;
        .likebtn {
          width: 150px;
          background-color: pink;
          &:hover {
            opacity: 0.6;
          } 
        }
        .sent {
          margin:0 auto;
          width: 150px;
          height: 27px;
          background-color: gold;
        }
      }
    }
  }

  #form-title{
    text-align: center;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  background-color: gray;
  a {
    margin: 10px;
    color: white;
     &:hover {
       color: red;
     } 
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.radio-cell {
  display: flex;
  flex-direction: row;
  .radio-part {
    flex-basis: 20px;
  }
}